.area1 { background-color: red;}
.area2 { background-color: orange;}
.area3 { background-color: yellow;}
.area4 { background-color: green;}
.area5 { background-color: blue;}

.inline { display: inline;}
.block { display: block; width: 150px; height: 150px;}
.inline-block {
   display: inline-block;
}

#container-1 {
  border: 3px solid black;
  height: 472px;
  width: 323px;
}

/* 내부에 영역을 분할할 요소 */
#container-1 > div {
  border: 1px dashed hotpink;
  height: 50%;
}

#container-1 > div:first-of-type{
  height: 30%;
  background-color: red;
}

#container-1 > div:last-of-type{
  height: 70%;
  background-color: blue;
}

#container-2 {
  border: 3px solid black;
  height : 583px;
  width: 323px;
}

#container-2 .div-2{
  border: 1px dashed hotpink;
}

#container-2 .div-2:first-child{
  height: 20%;
  background-color: red;
}

#container-2 .div-2:last-child{
  height: 50%;
  background-color: aqua;
}

#container-2 .div-2:nth-child(2){
  height: 30%;
  background-color: blue;
}

#container-3 {
  border: 5px solid red;
  width: 400px;
  height: 200px;
}

.div-3 {
  width: 50%;
  height: 100%;
  display: inline-block;
}

#container-3 > .div-3:first-of-type{
  background-color: pink;
}

#container-3 > .div-3:last-of-type {
  background-color: steelblue;
}

.div-4 {
  border: 3px solid black;
  height: 100px;
}

#test4 {
  background-color: deeppink;

  /*display: none;*/
  visibility: hidden;
}