* {
    box-sizing: border-box;
    background-color: #ddd;
    font-family: 'Pretendard';
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

#title {
    width: 1140px;
    margin: auto;
    text-align: center;
    letter-spacing: 3px;
    line-height: 50px;
}


body{
    margin: 0;
}

main {
    width: 1140px;
    margin: auto;
}

header {
    height: 200px;
    display: flex;
    border-bottom: 2px solid #455ba8;
}

header > section:nth-child(1){
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section:nth-child(2){
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}



nav {
    height: 60px;
    border-bottom: 2px solid #455ba8;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
    
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
    flex-basis: 200px;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: black;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;

  border-radius: 5px;
  transition-duration: 0.1s;
}

nav a:hover{
  background-color: #455ba8;
  color: white;
  
}

#About-me {
    height: 450px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}




table{
    border: none;
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

table th {
    font-size: 30px;
}

table > tr {
    display: flex;
}

table td {
    font-weight: bold;
    font-size: 20px;
}

table li {
    padding: 5px;
}

.me-title {
    color: #455ba8;
}



#Education, #Projects, #Contact {
    border-top: 2px solid #455ba8;
    margin-bottom: 30px;
}

#Contact > form {
    width: 1000px;
    height: 200px;
    display: flex;
}

#Contact > form > fieldset {
    width: 600px;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

#contact-info {
    flex-basis: 70%;
}

#submit-info {
    flex-basis: 30%;
}

#button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #455ba8;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: none;
}

#contact-info {
    display: flex;
    flex-direction: column;
    border: none;
}

#name {
    flex-basis: 30%;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
}

#email {
    flex-basis: 30%;
    background-color: white;
    font-size: 22px;
    font-weight: bold;
    border: none;
}

#tel {
    flex-basis: 40%;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
}

footer {
  height: 200px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > p {
  font-weight: bold;
  background-color: transparent;
}

#Projects img {
    height: 50%;
    width: 50%;
}