* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

main {
  width: 1140px;
  margin: auto;
}

header {
  height: 100px;
  display: flex;
}

header > section:nth-of-type(2),
header > section:nth-of-type(3) {
  flex-basis: 15%;
}

header > nav {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > section:nth-of-type(1),
header > section:nth-of-type(4){
  flex-basis: 10%;
}

#home-logo {
  width: 100px;
}


nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
  flex-basis: 120px;
  margin-left: 20px;
  margin-top: 10px;
  width: 60px;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 50px;

  border-radius: 5px;
  transition-duration: 0.2s;
}

#app-btn {
  margin-top: 20px;
  weight : 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff6600;
  color: white;
}

#search {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 0;
  padding: 0;
}

#query {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none; /*input 태그에 포커싱 되었을 때 나타나는 바깥선 */
  flex-basis: 92%;
}

#search button:first-child {
  height: 42px;
  width: 108px;
  padding: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 30px;
}

.search-area {
  width: 950px;
  height: 100%;
  margin: 0;
}

.search-area fieldset {
  border: 1px solid #ddd;
  border-radius: 40px;
  display: flex;
  flex-basis: 90%;
  height: 50px;
}

#search-btn {
  border: none;
  background-color: white;
  width: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#search-btn2 {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 100%;
}

#query {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none; 
  flex-basis: 92%;
}

#blank {
  width: 150px;
}

.search-ul {
  display: flex;
  padding: 0;
  list-style: none;
  height: 100%;
  font-size: 12px;
  align-items: center;
}

.search-ul > li {
  flex-basis: 40px;
  margin-left: 20px;
  margin-top: 10px;
  width: 50px;
}

.search-ul a {
  
  text-decoration: none;
  color: black;
}

#screen{
  display: flex;
}

#filter {
  flex-basis: 25%;
  font-size: 16px;
  padding: 10px;
}

.filter-title {
  display: flex;
  margin-bottom: 20px;
}

.filter-title > section:nth-of-type(1){
  font-size: 20px;
  font-weight: bold;
}

.filter-title > section:nth-of-type(2){
  width: 140px;
}

#filter a {
  color: gray;
  font-size: 14px;
}

#filter > label{
  zoom: 1.2;
}

#filter a:last-child {
  color: orange;
  text-decoration: none;
}

#filter input {
  margin-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  margin-left: 10px;
  padding: 0;
}

#content > div {
    width: 100%;
  height: 200px;
  margin: 10px;
}



#image-1 {
  width: 191px;
  height: 191px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
} 

#content a {
  text-decoration: none;
  color: black;

}

#content-1,
#content-2 {
  display: flex;
  flex-direction: row;
}


#image-title {
  display: -webkit-box;

  -webkit-line-clamp: 1;

  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 16px;
  margin: 0;
}

#image-price {
  font-size: 16px;
  font-weight: bold;

}

#image-time {
  font-size: 12px;
  color: #868b94;
}
